<div class="row">
	<div class="box">
  	<div class="col-lg-4" ng-repeat="fl in drugsList">
	    <img class="img-circle" ng-src="http://tnfs.tngou.net/image{{fl.img}}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
	    <h2>{{fl.title}}</h2>
	    <p>{{fl.description}}</p>
	    <p><a class="btn btn-default" ui-sref="navbar.drugsDetail({id:fl.id})" role="button">查看详情 &raquo;</a></p>
  	</div><!-- /.col-lg-4 -->
</div><!-- /.row -->
</div>
<nav>
	<ul class="pagination">
		<div class="col-lg-4" ng-repeat="fl in drugsList">
  		<li ng-repeat="page in pageLCountist"><a href="#/navbar/foodList/{{id}}/{{page}}">{{page}}</a></li>
	</ul>
</nav>