<div class="row featurette">
	
    <div class="col-md-12">
      <h2 class="featurette-heading">{{drugsDetail.name}}</h2>
      <img ng-src="http://tnfs.tngou.net/image{{drugsDetail.img}}"/>
      <p class="lead">{{drugsDetail.description}}</p>
    

      <p class="lead" compile="drugsDetail.message"></p>
    

		<a href="javascript:void(0)"  ng-click="back('foodDetailGoBack')" id="foodDetailGoBack" tabindex="0" 
		class="btn btn-lg btn-danger" 
		role="button" data-toggle="popover" data-trigger="focus" title="返回前页" data-content="你在当前页面进行了直接刷新，找不到回去的路了！">返回前页</a>

    </div>
</div>

