<div class="row">
  <div class="col-lg-4" ng-repeat="fl in healthAskList">
    <img class="img-circle" ng-src="{{foodPrefix}}{{fl.img}}" alt="{{fl.keywords}}" style="width: 140px; height: 140px;">
    <h2>{{ fl.title }}</h2>
    <p>{{ fl.description }}</p>
    <p><a class="btn btn-default" ui-sref="navbar.healthAskDetail({id:fl.id})" role="button">进入了解</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->




<nav>
  <ul class="pagination">
    <li ng-repeat="page in healthAskpageLCountist"><a href="#/navbar/healthAskList/{{id}}/{{page}}">{{page}}</a></li>
  </ul>
</nav>